* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, #8257E5 0%, #271A45 100%);
    font-family: 'Rubik', sans-serif;
    letter-spacing: -0.02em;
}

.text {
    color: #000000E0;
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

p {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000A3;
}

#boarding-pass {
    width: 327px;
    margin: 78px auto;
    text-align: center;
}

h1 {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
}

#boarding-pass > p {
    text-align: center;
    margin-top: 20px;

    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.ticket {
    filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.25));
}

.ticket__child {
    background-color: white;
    border-radius: 24px;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.32);
    padding: 24px 32px;
}

.ticket__child:last-of-type {
    border-bottom: none;
}
/*FLIGHT INFO*/
.flight-info__child {
    display: flex;
    justify-content: space-between;
}

.flight-info__child__number {
    margin-bottom: 24px;
}

.black-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000CC;
}

.location-flight {
    color: #000000E0;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
}

#special {
    line-height: 12px;
    font-size: 10px;
}

/*PASSENGER INFO*/
.passenger-info__child {
    display: flex;
    justify-content: space-between;
}

/*BOARDING INFO*/
.boarding-info__child {
    display: flex;
    justify-content: space-between;
}

.boarding-info__child__details {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#boarding-info__child__qrcode p {
    text-align: center;
}

#boarding-info > p {
    text-align: center;
    margin-top: 24px;
}
